<div class="column">
<<<<<<< HEAD
    <a type="button" class="button is-danger is-outlined is-medium is-fullwidth categories-button" id="{{id}}"
        href="/api/posts/categories/{{id}}">{{food_type}}</a>
=======
    <a type="button" class="button is-danger is-outlined is-medium is-fullwidth categories-button" data-id="{{id}}" href="/api/foodtrucks/{{id}}">{{food_type}}</a>
>>>>>>> 4a4f76d7289df27b48169f79a10c3249883e5756
</div>