<div class="column is-full">
    <div class="card is-primary">
        <div class="card-content">
            <p class="subtitle"> {{truck_name}} </p>
            <p class="descText"> 
                Can be found at this location:<Br>
                <span class="mx-4">{{street_address}}, {{city}}, {{state}} {{zipcode}}</span><br>
                During these times: <Br>
                <span class="mx-4">{{time_start}} to {{time_end}}</span>
            </p>
            <button class="level-item button is-warning is-rounded" data-id=${posts[i].id}>Live Comments</button>
        </div>
    </div>
</div>