<div class="column is-full">
    <div class="card is-primary">
        <div class="card-content">
            <p class="postTitle"> {{truck_name}} </p>
            <div class="descText">
                <i class="fas fa-map-marker-alt"></i> {{street_address}}, {{city}}, {{state}} {{zipcode}}<br>
            </div>
            <div class="descText">
                <i class="fas fa-clock"></i><span class="mx-1">{{time_start}} to {{time_end}}</span>    
            </div><br>
            <a type="button" href="/comments" class="level-item button is-warning is-rounded" data-id={{id}}>Live Chat Room</a>
        </div>
    </div>
</div>